# PORTs
PORT=3000 # Gateway port
AUTH_PORT=3001
TASK_PORT=3002

# URLs
AUTH_SERVICE_URL="http://localhost:3001"
TASK_SERVICE_URL="http://localhost:3002"

# LOGGIN
LOG_LEVEL=""

# PostgreSQL Database
DATABASE_URL=""

# Media
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Secrets
JWT_SECRET=""
JWT_EXPIRES_IN=""
GATEWAY_SECRET=""
